.about-abt {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: rgb(215, 225, 235);
    border-radius: 5px;
  }
  
  #about {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-abt  p {
    font-size: 1.2em;
    color: #424242;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif ;
  }
  
  .lists {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .lists li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .glc {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #71869c;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .glc a {
    color: #fff;
    text-decoration: none;
  }
  
  .glc:hover {
    background-color: #0056b3;
  }
  